
<div class="jumbotron bg " style="color: white; height:500px ">
    <h1 class="display-4" style="text-align: left;">South Africa Covid19 Tracker</h1>
   
    <div class="row" >
        <div class="col-md-6" >
            <div class="card mb-3" style="background-color: transparent; border-color: transparent;" >
                <div class="row no-gutters" style="text-align: left; ">
                  <div class="col-md-1.2">
                    <img src="/assets/images/02(3).png"  alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body" style="display: inline-block;">
                      <h4 class="card-title"  style="font-size: 40px;">Active Cases: 757K</h4>
                    </div>
                  </div>
                </div>
              </div>

            <div class="card mb-3" style="background-color: transparent; border-color: transparent;" >
                <div class="row no-gutters" style="text-align: left; ">
                  <div class="col-md-1.2">
                    <img src="/assets/images/01(4).png"  alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body" style="display: inline-block;">
                      <h4 class="card-title" style="font-size: 40px;">Recovered: 702K</h4>
                    </div>
                  </div>
                </div>
              </div>

            <div class="card mb-3" style="background-color: transparent; border-color: transparent;" >
                <div class="row no-gutters" style="text-align: left; ">
                  <div class="col-md-1.2">
                    <img src="/assets/images/03.png"  alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body" style="display: inline-block;">
                      <h4 class="card-title" style="font-size: 40px;" >Deaths:20556</h4>
                    </div>
                  </div>
                </div>
              </div>
        </div>

        <div  class="col-md-4 imgresizing" >

          <img class="rotate" src="/assets/images/virus.png">
        </div>
    </div>

</div>

<h3 style="align-text:center">Representation of the Covid19 impact on SA residents using line graphs in South Africa </h3>
  <div class=" bg2">
    <div class="row">
        <div class="col-md-6">
            <canvas id="linechart"></canvas>
         </div>
         <div class="col-md-6">
            <!-- <canvas id="linechart2"></canvas> -->
            <canvas id="linechartDeath"></canvas>
         </div>
    </div>

      
 
  </div>
<section class="space bg2">
    
        <h1>Covid19 Repercussions</h1>
     <div class="row ">
      <div class="col-md-6">

        <div class="card-columns">
            <div class="card">
              <div class="card-body">
      
                <p class="card-text"> The national Covid19 Lockdown and resulting economic slowdown reduced demand for electricity by more than 7500 MW thereby temporarily reducing the impact of the long running South African energy crisis.</p>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
   
                  <p class="card-text">It is estimated that the government would experience a revenue shortfall for 2020 of between R70 and 100 billion. This resulted in the South African government announcing a R500 billion stimulus package thereby accelerating deficit spending from 6.8% to over 10% of GDP for the 2020 financial year.</p>
                </div>
              </div>
            <div class="card">
        
              <div class="card-body">

                <p class="card-text">The Johannesburg Stock Exchange lost 15% of its value in the week ending 13 March 2020, its worst week in 21 years</p>

              </div>
            </div>
            <div class="card bg-primary text-white text-center p-3 vis" >
              <blockquote class="blockquote mb-0">
                <p>Economic impact</p>
               
              </blockquote>
            </div>
            <div class="card text-center">
              <div class="card-body">
           
                <p class="card-text">Sicuro Safety and Hennox Supplies were fined after admitting to inflating its prices of face masks by 900%. A company supplying the Gauteng government was found to be charging double the price for sanitiser and four times the normal price of surgical face masks.</p>
              </div>
            </div>
           
            <div class="card">
                <div class="card-body">
     
                  <p class="card-text">In May it was estimated that the state will lose R285-billion in tax revenue for the financial year 2020/21 due to the pandemic and resulting lockdown</p>
              
                </div>
              </div>


              <div class="card">
                <div class="card-body">
     
                  <p class="card-text">Trade unions and the EFF were critical of using the IMF to take out the loan whilst the DA and other opposition political parties voiced concern over corruption when using the borrowed funds</p>
              
                </div>
              </div>
        
          
         </div>
          

      </div>

      <div class="col-md-6" style="border-color:grey ;">

        <div class="card-columns">
            <div class="card">
              <div class="card-body">
      
                <p class="card-text"> The lockdown resulted  in fewer deaths from road accidents and homicides. Overall deaths for the year up to 21 April 2020 were "generally within the bounds of expectation", non-natural deaths including those from homicide and road traffic accidents were lower for both females and males.</p>
              </div>
            </div>
            <div class="card">
                <div class="card-body">
   
                  <p class="card-text">The state of disaster was extended until 15 August 2020 and the alcohol ban was reintroduced along with a new curfew from 21:00 until 4:00. Resumption of alcohol sale and distribution had led to increased pressure on hospitals from road traffic accidents, trauma and violence which happened mostly at night</p>
                </div>
              </div>
            <div class="card">
        
              <div class="card-body">

                <p class="card-text"></p>

              </div>
            </div>
            <div class="card text-white text-center p-3" style="background-color: #591928;">
              <blockquote class="blockquote mb-0">
                <p>Frontliners and health infrastructure</p>
               
              </blockquote>
            </div>
            <div class="card text-center">
              <div class="card-body">
           
                <p class="card-text">There was a shortage of hospital beds for sick individual with covid19. Hospital were closing down as well as police stations if one of the workers contacted the virus. Making it hard for for locals to seek for medical help.</p>
              </div>
            </div>
           
            <div class="card">
                <div class="card-body">
     
                  <p class="card-text"> In an address to the nation, President Ramaphosa announced that the anticipated surge in COVID-19 cases had arrived. The state of disaster was extended until 15 August 2020 and the alcohol ban was reintroduced along with a new curfew from 21:00 until 4:00. Resumption of alcohol sale and distribution had led to increased pressure on hospitals from road traffic accidents, trauma and violence which happened mostly at night.</p>
              
                </div>
              </div>


              <div class="card">
                <div class="card-body">
     
                  <p class="card-text">The South African Medical Research Council (SAMRC) and the University of Cape Town's Centre for Actuarial Research estimated that 17,090 excess natural deaths had taken place between 6 May and 14 July 2020 in South Africa. These represented, by the second week of July, a 59% increase in natural deaths compared to the same time period in previous years 11,175 (65%) of these excess estimated natural deaths were in those above age 60 years. Excess natural deaths were COVID-19 related either directly or indirectly through delayed diagnosis and treatment of other conditions.</p>
              
                </div>
              </div>
        
          
         </div>
          

      </div>

     </div>
    
</section>

  <footer>
    Phororo technologies
  </footer>